<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Manage - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1>Manage</h1>
            <p class="text-size-xl">Please select an option.</p>
        </header>

        <main>
            <div class="grid grid-cols-2 gap-2 ph-b">
                <button onclick="manageOption('newroom');" class="btn-neutral">New room</button>
                <button onclick="manageOption('existingroom');" class="btn-neutral">Existing room</button>
            </div>
            <div id="newroom">
                <%- include('forms/newroom') %>
            </div>
            <div id="existingroom" class="hidden">
                <div class="flex">
                    <h2 class="ph-b flex-grow">Change an existing room</h2>
                    <button onclick="closeManageRoom()" class="btn-neutral hidden" id="manageUpdateCloseBtn">X</button>
                </div>
                <ul id="existingroomslist" class="grid lg:grid-cols-2 gap-2"></ul>
                <%- include('forms/existingroom') %>
            </div>
        </main>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/requests/room_create.js"></script>
        <script src="/js/requests/room_update.js"></script>
        <script src="/js/requests/room_delete.js"></script>
        <script src="/js/manage_existing_rooms.js"></script>
        <script src="/js/rooms.js"></script>
        <script>
            reloadData();

            socket.on("update-room", function () {
                console.log('Room update received.')
                reloadData();
            });

            function reloadData() {
                requestAll()
                    .then(data => {
                        displayList(data);
                    })
                    .catch(error => {
                        // Handle errors
                        console.error(error);
                    });
            }

            function manageOption(option) {
                if (option === 'newroom') {
                    if ($('#newroom').hasClass('hidden')) {
                        $('#newroom').removeClass('hidden');
                    }
                    if (!$('#existingroom').hasClass('hidden')) {
                        $('#existingroom').addClass('hidden');
                    }
                }
                if (option === 'existingroom') {
                    reloadData();
                    if ($('#existingroom').hasClass('hidden')) {
                        $('#existingroom').removeClass('hidden');
                    }
                    if (!$('#newroom').hasClass('hidden')) {
                        $('#newroom').addClass('hidden');
                    }
                }
            }
        </script>
    </body>
</html>